// Define a base color palette
$primary-color: #0070f3;
$secondary-color: #c9c9c9;
$background-color: #fff;

.step {
  display: flex;
  background-color: $background-color;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  gap: 20px;
  align-items: center;
  justify-content: center;

  &__title {
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--color-text);
    font-size: 20px;
    font-weight: 400;
  }

  &__description {
    color: var(--color-text);
    font-size: 16px;
    line-height: 1.5;
  }

  &__actions {
    margin-left: auto;
  }
}
