.page-process {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  & &__add-button {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}
